* {
    box-sizing: border-box;
}

body{
    background-color: #172548;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-scoreboard,
.guest-scoreboard{
    background-color: black;
    color:white;
    align-items: center;
    padding: 1.5em;
    text-align: center;
    font-size: 2em;
}

#home-score,
#guest-score{
    text-align: center;
    padding: 1em;
    border: 5px solid white;
    color:#6F0000;
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

button{
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .home-scoreboard,
    .guest-scoreboard{
        font-size: 1.5em;
    }
    #home-score,
    #guest-score{
        padding: 0.8em;
        font-size: 1em;
    }
    button{
        font-size: 0.6em;
    }
}